.chats {
  width: 100%;
  margin-top: 15px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chats__profile {
  width: 55px;
  height: 55px;
  border-radius: 40%;
}

.chats__center {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.chats__name {
  font-size: 22px;
  font-weight: 500;
}

.chats__content {
  margin-top: 6px;
  font-size: 17px;
  color: #AAAAAA;
}

.chats__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chats__time {
  font-size: 15px;
  color: #BBBBBB;
}

.chats__count {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 15px;
}
