.login__welcome {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__welcome h1 {
  font-size: 25px;
}

.login__welcome p {
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
  color: #999999;
  line-height: 22px;
}

.login__input {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__input input {
  margin-top: 2px;
  width: 360px;
  height: 53px;
  border: none;
  border-bottom: 1px solid #AAAAAA;
  display: flex;
  align-items: center;
}

.login__input input::placeholder {
  color: #AAAAAA;
  font-size: 21px;
}

.login__input input[type="submit"] {
  margin-top: 30px;
  border: 0px;
  background-color: F8F8F8;
  justify-content: center;
  border-radius: 5px;
  font-size: 20px;
}

.login__input a {
  margin-top: 20px;
} 
