@import "status-bar.css";
@import "default.css";
@import "login.css";
@import "navigation.css";
@import "main-bar.css";
@import "friends.css";
@import "variable.css";
@import "chats.css";
@import "search.css";
@import "more.css";
@import "chatting.css";
@import "title-bar.css";

body {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.good {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.too-big {
  display: none;
}

@media screen and (min-width: 800px) and (min-height: 1500px) {
  .good {
    display: none;
  }
  
  .too-big {
    font-size: 50px;
    font-weight: bold;
    color: tomato;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
